.section {
}

.title {
    margin-bottom: 20px;
}

.editor {
    width: 100%;
    background-color: var(--secondary-surface-color);
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 15px;
}

.titleInput {
}

.bodyInput {
}

.submitButton {
}
