* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: var(--primary-surface-color);
    color: var(--primary-text-color);
}

body {
    min-height: 100vh;
    font-size: 1.5rem;
}

main {
    max-width: 500px;
    margin: auto;
}
